ion-icon {
    
}

ion-header {
    --min-height: 4rem;
    --ion-background-color: linear-gradient(to left, #9664e6, #4c73ff);
}

.title {
    font-weight: 900;
    margin: 2rem 0 1rem 1rem;
}

